@font-face {
  font-family: roboto_regular;
  src: url(../fonts/Roboto_Regular.ttf);
}

@font-face {
  font-family: roboto_black;
  src: url(../fonts/Roboto_Black.ttf);
}

@font-face {
  font-family: roboto_bold;
  src: url(../fonts/Roboto_Bold.ttf);
}

@font-face {
  font-family: roboto_light;
  src: url(../fonts/Roboto_Light.ttf);
}

@font-face {
  font-family: roboto_medium;
  src: url(../fonts/Roboto_Medium.ttf);
}

@font-face {
  font-family: roboto_thin;
  src: url(../fonts/Roboto_Thin.ttf);
}

@font-face {
  font-family: sanfrancisco_d_bold;
  src: url(../fonts/San_Francisco_Display_Bold.ttf);
}

@font-face {
  font-family: sanfrancisco_d_Medium;
  src: url(../fonts/San_Francisco_Display_Medium.ttf);
}

@font-face {
  font-family: sanfrancisco_d_regular;
  src: url(../fonts/San_Francisco_Display_Regular.ttf);
}

@font-face {
  font-family: sanfrancisco_d_thin;
  src: url(../fonts/San_Francisco_Display_Thin.ttf);
}

@font-face {
  font-family: sanfrancisco_d_ultralight;
  src: url(../fonts/San_Francisco_Display_Ultralight.ttf);
}



html,body {
  width: 100%;
  height: 100%;
}

.sfmenu {
  position: relative;
  top: 20%;
  width: 100%;
  font-family: sanfrancisco_d_medium;
  /*border: solid black 2px;*/
}



.indicator {
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  padding: 7px;
  z-index: 2;
  /*border: solid blue 2px;*/
}

.one.column {
  height: 100%;
}

.indicator2 {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  z-index: 2;
}

#left_arrow {
  position: absolute;
  top: 46%;
  left: 40px;
}

#right_arrow {
  position: absolute;
  top: 46%;
  right: 40px;
}

.romenu {
  position:absolute;
  bottom:0;
  z-index: 2;
  font-family: roboto_medium;
  /*border: solid black 2px;*/
}

textarea {
    background-color: transparent;
    resize: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* ----------------- Start Grid for desktop screens ----------------- */

@media (min-width: 960px) {

.container {
	position: relative;
	width: 100%; /* max width of content */
  height: 100%;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box; 
}

.row {
  width: 100%;
  height: 100%;
  /*position: fixed;*/
}

.column,
.columns {
	margin-left: 4%; /* column gutter */
	float: left;
	box-sizing: border-box;
}    

.column:first-child,
.columns:first-child {
margin-left: 0; } /* prevents first column from acquiring a gutter on its left: typography 101 */

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; height: 100%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

.showcase_sf {
  width: 800px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -400px;
  margin-top: -60px;
  top: 50%;
  text-align: center;
  font-size: 64pt;
  z-index: 0;
  font-family: sanfrancisco_d_thin;
  /*border: solid blue 1px;*/
  padding: 0px;
}

.container {
  overflow: hidden;
}

.showcase_ro {
  width: 800px;
  height: 100px;
  margin-top: -60px;
  margin-left: -400px;
  position: absolute;
  /*left: 50%;*/
  top: 50%;
  text-align: center;
  font-size: 64pt;
  z-index: -2;
  /*border: solid red 1px;*/
  color: #2F4F4F;
  font-family: roboto_black;
  padding: 0px;
}

.background {
  /*width: 3000px;*/
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 50%;
  background: #a4c639;
  z-index: 0;
  overflow: hidden;
  /*border: solid green 2px;*/
}

#change_weight {
  position: relative;
  /*left: 50%;*/
  top: 60%;
  /*margin-left: -52px;
  margin-top: 400px;*/
  text-align: center;
  z-index: 2;
  /*border: solid black 2px;*/
}

}
/* ----------------- End Grid for desktop screens ----------------- */

/* ----------------- Misc Grid Commands ----------------- */

/* Self Clearing Goodness: Fixes Issues with Rows Overlapping due to flow: left; */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

